html, body, #content, #app, #map-canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#panel {
  padding: 5px;
  margin: auto;
  top: 0;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #999;
}

#panel > * {
  display: inline-block;
}

#panel > *:not(:first-child) {
  margin-left: 10px;
}

#panel form *:not(:first-child) {
  margin-left: 10px;
}

#panel-title {
  font-weight: bold;
  font-size: large;
  color: #36454f;
}
